body{
	background-color: gray;

}
.one{
	width: 700px auto;
	background-color: #8fb5ba80;
	margin: 30px auto;
	padding: 50px 100px;
	box-shadow: 0px -5px 20px rgb(3, 3, 3);
	border-radius: 82px 108px 116px 42px;
	border: 10px solid rgb(78, 82, 87);

}
.two{
	margin: 10px;

}
.two h1{
	font-size: 60px;
	color: gold;
	margin: 0px;
	text-shadow: 0px 0px 15px black;


}
.two h3{
	color: white;
	font-family: cursive;
	font-size: 15px;
	margin: 0px;
	text-shadow: -2px 0px 20px black;
	font-style: italic;

}
.one p{
	color: black;
	font-family: cursive;
	text-align: justify;

}
.img img:nth-child(1){
	margin: 10px 10px;
	height: 200px;
	width: 240px;
	border-radius: 0px 75px 0px;
	padding: 5px;
	box-shadow: 0px 0px 15px;


}
.img img:nth-child(2){
	margin: 10px 10px;
	height: 200px;
	width: 375px;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 15px;
	padding: 5px;


}
h5{
	color: gold;
	font-family: cursive;
	font-size: 10px;
}
h5 span:nth-child(1){
	color: black;
}